/* media queri 600px */
@media screen and (min-width:600px){
    /* ESTILOS HEADER GENERAL */
    body{
        background-image: url(../../assets/img/fondos/fondo-inicio.png);
        @include fondo-pantalla;
    }
    header img{
        width: 150px;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:stretch;
        padding: 10px 10px;
        background-color: #868585;
        box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
        gap: 10px;
    }
     header nav ul li a{
        width:fit-content;
        padding: 10px;
        margin: 0px 0px;
        border: transparent;
        box-shadow: none;
        background-color: transparent;
        border-radius: 0px;
    }
    header nav ul li a:hover{
        background-color: blueviolet;
    }
    /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILOS LOGO WHATSAPP */
    .piepagina__whatsapp img{
        bottom: 90px;
        right: 50px;
        height: 80px;
        width: 80px;
    }
    /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILO HOJA INDEX*/
    .index main{
        height: 65vh;
    }
    .index main h1{
        font-size: 4.5rem;
    }
    .index main h2{
        font-size: 3rem;
    }
    /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILOS HOJA STAFF */
    .staff h1{
        font-size: 3.5rem;
    }
    .contenedor__carta__contenido{
        transform: translateY(180px);
    }
     /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILOS HOJA HORARIOS */
    .horario .contenedor__menu li a{
        margin-right: 80px;
    }
    .horario .contenedor__semana{
        margin: 30px;
    }
    /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILOS HOJA PROMOCIONES */
    .promociones h1{
        font-size: 3rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .promociones .img{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .promociones .img img{
        width: 400px;
    }
    /* /////////////////////////////////////////////////////////////////////////////////// */
    /* ESTILOS HOJA EJERCICIO */
    .ejercicios h1{
        font-size: 3rem;
    }
}